<section class="content home row" data-thread-id="home">
  <section class="col-xs-12">
    <h1>Welcome to Deadpool</h1>
  </section>

  <section class="col-xs-12 col-sm-6 box">
    <h2>Pinned Threads</h2>
  </section>

  <section class="col-xs-12 col-sm-6 box">
    <h2>Favorites</h2>
  </section>

  <section class="col-xs-12 col-sm-6 box">
    <h2>Trends</h2>
  </section>
</section>
