<section class="content home row" data-thread-id="home">
  <section class="col-xs-12">
    <h1>Welcome to Deadpool</h1>
  </section>

  <section class="col-xs-12 col-sm-6">
    <div class="box">
      <h2><i class="fa fa-thumb-tack"></i>Pinned Threads</h2>
      <ul>
        <li>Feb 21, Deprecation warning</li>
        <li>Feb 25, SEV 3 Lazlo</li>
        <li>Feb 26, VM upgrades</li>
      </ul>
    </div>
  </section>

  <section class="col-xs-12 col-sm-6">
    <div class="box">
      <h2><i class="fa fa-heart"></i>Favorites</h2>
      <ul>
        <li>Jan 02, Groupon Architecture 2016</li>
      </ul>
    </div>
  </section>

  <section class="col-xs-12 col-sm-6">
    <div class="box">
      <h2><i class="fa fa-bar-chart"></i>Trends</h2>
    </div>
  </section>
</section>
