<html>
<head>
  <!-- Javascripts -->
  <script src='/public/js/jquery-2.2.1.min.js'></script>
  <script src='https://cdn.socket.io/socket.io-1.4.5.js'></script>
  <script src='/public/js/js.cookie.js'></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- CSS -->
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href='/public/chat.css' rel='stylesheet' type='text/css'>

  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Poppins:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div id="threads-list" class="col-sm-3 hidden-xs">
        <h4>Threads</h4>
        <ul class="nav nav-pills nav-stacked"></ul>
      </div>

      <div id="chat" class="col-sm-9 col-xs-12"></div>
    </div>
  </div>
</body>

<script src='/public/js/app.js'></script>
<script type="text/x-handlebars-template" id="message_template">
{{{ templates.message }}}
</script>
<script type="text/x-handlebars-template" id="thread_template">
{{{ templates.thread }}}
</script>
<script type="text/x-handlebars-template" id="thread_list_item_template">
{{{ templates.thread_list_item }}}
</script>
<script type="text/x-handlebars-template" id="inchat_notification_template">
{{{ templates.inchat_notification }}}
</script>
</html>
