<li class={{class}}>
  <span>
    <p class="message-header">
      <b class="username">{{user_name}}</b>
      <b class="timestamp">{{datetime}}</b>
    </p>
    <p class="message">{{{message}}}</p>
  </span>
</li>
