<li class={{data.class}}>
  <span>
    <p class="message-header">
      <span class="username">{{data.user_name}}</span>
      <span class="timestamp">{{data.datetime}}</span>
    </p>
    <p class="message">{{{data.message}}}</p>
  </span>
</li>
