<section class="content current" data-thread-id="{{ thread_id }}">
  <section class="row header">
    <div class="col-xs-10">
      <h1>{{ name }}</h1>
    </div>

    <div class="col-xs-2">
      <button class="login btn btn-primary">Login</button>
      <button class="logout btn btn-danger">Logout</button>
    </div>
  </section>

  <section class="body">
    <div class="messages messages-main-container col-xs-12">
      <ul></ul>
    </div>
  </section>

  <section class="row footer">
    <div class="col-xs-12">
      <input type="text">
    </div>
  </section>
</section>
