body {
  font-family: 'Poppins', sans-serif;
}
.chat-box
{
  width: 300px;
}

.header
{
  padding: 10px;
  font-size: 22px;
  margin-top:20px;
  clear:both;
  width:100%;
  display:block;
  height:30px;
  border-bottom:solid 1px black;
  padding-bottom:12px;
  margin-bottom:12px;
}

.messages
{
  padding: 10px;
  height: 200px;
  background-color: green;
  background-color: rgb(237, 239, 244);
  border-width: 1px;
  border-color: black;
  border-style: solid;
  overflow-y: scroll;
}

.messages ul
{
  padding: 0px;
  list-style-type: none;
}

.messages ul li
{
  height: auto;
  margin-bottom: 10px;
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
}

.messages ul li span
{
  display: inline-block;
  max-width: 200px;
  background-color: white;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
}

.messages ul li span.left
{
  float: left;
}

.messages ul li span.left p
{
  font-style: italic;
  font-size: 12px;
  font-family: "Arial";
}

.messages ul li span.right p
{
  font-style: italic;
  font-size: 12px;
  font-family: "Arial";
}

.messages ul li span.left:after
{
  content: "";
  display: inline-block;
  position: absolute;
  left: -8.5px;
  top: 7px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid white;
}

.messages ul li span.left:before
{
  content: "";
  display: inline-block;
  position: absolute;
  left: -9px;
  top: 7px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid black;
}

.messages ul li span.right:after
{
  content: "";
  display: inline-block;
  position: absolute;
  right: -8px;
  top: 6px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #dbedfe;
}

.messages ul li span.right:before
{
  content: "";
  display: inline-block;
  position: absolute;
  right: -9px;
  top: 6px;
  height: 0px;
  width: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
}

.messages ul li span.right
{
  float: right;
  background-color: #dbedfe;
}

.clear
{
  clear: both;
}

.input-box
{
  background-color: white;
  height: 50px;
  padding: 0px;
}

.input-box textarea
{
  padding: 0px;
  width: 278px;
  height: 100%;
  display: inline-block;
  outline: 0px;
  border-width: 0px;
  resize: none;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  font-size: 12px;
  padding: 10px;
  border-top-width: 0px;
}

/* Chat Box */
#chat-box {
  margin-top:20px;
}

/* Username */
#user_name {
  width:30%;
  padding:10px;
  outline:none;
}

#update_user_name {
  position:absolute;
  left:31%;
  top:87px;
  padding:10px;
}

/* Logout */
#logout {
  position:absolute;
  right:15px;
  top:14px;
  padding:5px;
}

/* message_box */
#message_box {
  font-size:12px;
  margin-top:30px;
}

#message_box p {
  position:absolute;
  left:0px;
  margin-top:-18px;
  margin-left:5px;
}


#message_box input#message_content {
  padding:10px 2%;
  padding-left:3px;
  width:80%;
  outline: none;
  color: gray;
}


#message_box button#send_message {
  padding:10px 2%;
  width:18%;
  float:right;
}
