html, body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

#threads-list {
  background-color: rgb(237, 239, 244);
  border-right: solid 1px #ccc;
  padding: 0;
  overflow: scroll;
}

#chat section.content {
  display: none;
}

#chat section.content.current {
  display: block;
}

#chat section.content section.header {
  height: 70px;
  border-bottom: solid 1px #ccc;
  overflow: hidden;
  background-color: rgb(237, 239, 244);
}

#chat section.content section.footer {
  background-color: rgb(237, 239, 244);
  border: 1px solid #ccc;
  bottom: 0;
  height: 55px;
}

#chat section.content section.footer input {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  color: gray;
}

.nav-pills > li > a {
  border-radius: 0;
}

.messages {
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.messages ul {
  padding: 0px;
  list-style-type: none;
}

.messages ul li {
  height: auto;
}

.messages ul li p.message-header {
  display:block;
  width:100%;
  border-bottom: solid 1px #eee;
  position:relative;
  margin: 0 0 5px 0;
}

.messages ul li p.message {
  display:block;
  width:100%;
}

.messages ul li .timestamp {
  font-size:11px;
  color:gray;
}

.messages ul li span.username {
  font-size:12px;
  font-weight: bold;
}

.clear {
  clear: both;
}

button.login, button.logout {
  margin-top: 15px;
}
